<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <% if task.completed %>
        <input type="checkbox" checked disabled>
      <% else %>
        <input type="checkbox" disabled>
      <% end %>
      <%= link_to task.title, show_path(task) %> <%= link_to 'Delete', show_path(task), method: :delete,  data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>
</ul>

<h3><%= link_to '+ Add a new task', new_path %></h3>
