<h1><%= @task.title %></h1>

<div class="details">
  <p><%= @task.details %></p>
</div>

<% if @task.completed %>
 <input type="checkbox" checked disabled>
<p>This task is completed</p>
<% else %>
 <input type="checkbox" disabled>
<p>This task is not completed yet</p>
<% end %>

<%= link_to 'Edit task', edit_path %>

<%= link_to 'View list of tasks', index_path %>

